/*primary color #CE0000
secondary color #928C8C
black #010101
white #FFFFFF
font Maven pro*/

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Maven Pro',Arial;
	font-size: 10px;
}

.header{
	width: 100%;
	height: 4rem;
	background-color: #010101;
	position: relative;
}
.header__logo_container{
	display: block;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);

}
.header__logo_img{
	height:3.6rem;
}
.navbar{
	height: 2rem;
	background-color: #928C8C;
	position: relative;


}
.navbar__link_container{
	
    
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    overflow-x: scroll;
    overflow-y: hidden;
  	white-space: nowrap;
    


}
.navbar__link_list{
	
	display:inline;

}
.navbar__link{
	text-decoration: none;
	font-size: 1.6rem;
	color: #010101;
	display: inline-block;
	padding:0 1.6rem;

}
.active{
	color: #FFFFFF;
	background-color: #CE0000;
}
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2rem;
  font-size: 1.6rem;
  text-align: center;
  background-color: #010101;
  color: #FFFFFF;
}
.footer__container_logo{
	height: 1.2rem;
	padding:0 .8rem;
}